.booking-detail {
  padding: 0 80px;
  background-color: #fafafa;
}

.add-card-border {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 2px dashed #8DD3BB;
border-radius: 15px;
padding: 16px 24px;
gap:18px
}

.input-border {
  height: 56px;
  background: #FFFFFF;
border: 1px solid #79747E;
border-radius: 4px;
padding: 15px;
}