* {
  box-sizing: border-box;
}

body {
  width: 1440px;
  margin: auto;
}

.content {
  padding: 0 104px;
}

/* General Text Style */
.montserrat-regular {
  font-family: "MontserratRegular";
}

.montserrat-regular-12px {
  font-family: "MontserratRegular";
  font-size: 12px;
  font-weight: 600;
}

.montserrat-semibold {
  font-family: "MontserratSemiBold";
}

.montserrat-semibold-16px {
  font-family: "MontserratSemiBold";
  font-size: 16px;
}

.montserrat-bold {
  font-family: "MontserratBold";
}

.montserrat-bold-12px {
  font-family: "MontserratBold";
  font-size: 12px;
}

.montserrat-bold-24px {
  font-family: "MontserratBold";
  font-size: 24px;
}

.trade-gothic-bold {
  font-family: "TradeGothicBold";
  font-size: 24px;
  line-height: 25px;
}
