* {
  box-sizing: border-box;
}

body {
  width: 1440px;
  margin: auto;
}

.content {
  padding: 0 104px;
}

/* General Text Style */
.montserrat-regular {
  font-family: "MontserratRegular";
  color: #112211;
}

.montserrat-regular-slamon {
  font-family: "MontserratRegular";
  color: #ff8682;
}

.montserrat-regular-12px {
  font-family: "MontserratRegular";
  font-size: 12px;
  font-weight: 600;
}

.montserrat-semibold {
  font-family: "MontserratSemiBold";
}

.montserrat-semibold-16px {
  font-family: "MontserratSemiBold";
  font-size: 16px;
}

.montserrat-bold {
  font-family: "MontserratBold";
}

.montserrat-bold-slamon {
  font-family: "MontserratBold";
  color: #ff8682;
}

.montserrat-bold-12px {
  font-family: "MontserratBold";
  font-size: 12px;
}

.montserrat-bold-24px {
  font-family: "MontserratBold";
  font-size: 24px;
}

.montserrat-bold-24px-slamon {
  font-family: "MontserratBold";
  font-size: 24px;
  color: #ff8682;
}

.trade-gothic-bold {
  font-family: "TradeGothicBold";
  font-size: 24px;
  line-height: 25px;
}

/* Hotel Detail Page Style */

.small-button {
  width: 40px;
  height: 32px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #8dd3bb;
}

.button-for-icons {
  width: 48px;
  height: 48px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #8dd3bb;
  border-radius: 4px;
}

.large-button-background-filled {
  width: 100%;
  height: 48px;
  background-color: #8dd3bb;
  border-radius: 4px;
}
