@font-face {
    font-family: "MontserratBold";
    src: local("MontserratBold"), url('./fonts/Montserrat/Montserrat-Bold.ttf') format("truetype");
  }
  
  @font-face {
    font-family: "MontserratMedium";
    src: url('./fonts/Montserrat/Montserrat-Medium.ttf');
  }
  
  @font-face {
    font-family: "MontserratRegular";
    src: url('./fonts/Montserrat/Montserrat-Regular.ttf');
  }
  
  @font-face {
    font-family: "MontserratSemiBold";
    src: url('./fonts/Montserrat/Montserrat-SemiBold.ttf');
  }

  @font-face {
    font-family: "TradeGothicRegular";
    src: url('./fonts/TradeGothic/Trade-Gothic-Regular.ttf');
  }

  @font-face {
    font-family: "TradeGothicExtended" ;
    src:local("TradeGothichExtended"), url('./fonts//TradeGothic/Trade-Gothic-LT-Extended.ttf'), format("truetype");
  }